.main-container {
    max-width: 1440px;
    position: relative;
    justify-items: center;
  }
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .align-left {
    align-items: flex-start;
  }
  
  .align-stretch {
    align-items: stretch;
  }

  .btn-green {
    background-color: #34C176;
  }
  
  
  @media (max-width: 770px) {
    .main-container {
      max-width: 100%;
      position: relative;
    }
  
    .content-wrapper {
      display: flex;
      justify-content: center;
      max-width: 100%;
      padding-right: 20px;
      padding-left: 20px;
      width: calc(100% - 40px);
    }
  }