.mobile-app {
    padding-top: 100px;
    margin-right: 243px;
    margin-bottom: 100px;
    margin-left: 120px;
}

.mobile-app-title {
    text-align: center;
}

.mobile-app-image {
    width: 333px;
    height: 278px;
}

.mobile-app-description {
    display: grid;
    grid-template-columns: 600px 333px;
    grid-column-gap: 144px;
}

.mobile-app-button {
    background-color: #95390C;
    border: none;
    border-radius: 32px;
    padding: 16px 40px;

    font-weight: 12.8px;
    color: white;

    cursor: pointer;
    
    &:hover {
        background-color: #F89202;
        opacity: 1;
    }
}

@media (max-width: 770px) {
    .mobile-app {
       width: 100%;
       max-width: 770px;
       padding-right: 20px;
       padding-left: 20px;
       margin: 0;
    }

    .mobile-app-description {
        display: flex;
        flex-direction: column-reverse;
    }

    .mob-app-left {
        display: flex;
        flex-direction: column;
    }

    .mobile-app {
        margin: 0;
        padding-bottom: 48px;
    }

    .mobile-app-image {
        align-self: center;
    }

    .mobile-about {
        margin-bottom: 0;
    }

    .mobile-app-button {
        margin-bottom: 80px;
        width: 131px;
    }
    
}