@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

/* * {
    box-sizing: border-box;
  }*/
body {
  font-family: Roboto, sans-serif;
  /*font-size: 18px;*/
  line-height: 1.5;
  background-color: #08020d;
  color: #cacaca;
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  /*font-size: 38px;*/
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
}

.white-color {
  color: white;
}

@media (max-width: 770px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

header {
  width: 100%;
  max-width: 1440px;
  position: relative;
}

.main-header {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  width: 100%;
}

.header-logo {
  width: 25px;
  height: 25px;
}

.header-navigation {
  padding-top: 25px;
  padding-right: 120px;
  padding-left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 11px;
  font-weight: normal;
}

.header-navigation-item {
  text-decoration: none;
  text-transform: uppercase;
  color: #CACACA;
}

.header-navigation-item.white-color {
  color: white;
}

.header-nav-left {
  justify-self: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-right {
  justify-self: flex-end;
}

.header-nav-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-search-form {
  width: 248px;
  height: 25px;
  padding: 0;
  margin-right: 0;
  border-radius: 50px;
  background-color: #3C3B3D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-color: transparent;
}

.header-main {
  padding-top: 150px;
  padding-bottom: 200px;
  margin-left: 120px;
  margin-right: 120px;
  text-align: center;
}

.header-main-title,
.header-secont-title,
.header-description {
  margin: 0;
}

.header-description {
  padding-bottom: 17px;
}

.header-secont-title {
  padding-bottom: 31px;
}

.header-register-forms {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 24px;
  max-width: 570px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 195px;
}

.header-button {
  /*width: 1070px;*/
  min-width: 570px;
  border-radius: 5px;
  padding: 20px 30px;
  background-color: #34C176;
  color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.header-form-name,
.header-form-email {
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
}

.header-form-name {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.header-form-email {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  grid-row: 1;
}

@media (max-width: 770px) {
  header {
    width: 100%;
    max-width: 770px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .header-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 27px 0 0 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-nav-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    padding-top: 17px;
  }
  .header-navigation-item {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .header-nav-left {
    -ms-flex-item-align: start;
        align-self: flex-start;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation-search-form {
    width: 58vh;
    margin-top: 17px;
  }
  .header-main {
    margin: 0;
  }
  .header-register-forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .header-button {
    min-width: 270px;
  }
  .mobile-grey {
    color: #CACACA;
  }
  .mobile-white {
    color: white;
  }
}

.subscription {
  padding-top: 100px;
  text-align: center;
  margin-right: 120px;
  margin-left: 120px;
}

.subscription-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 46.8px;
  padding-bottom: 50px;
}

.subscription-item {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
}

.sub-item-bg-1 {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.sub-item-bg-2 {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.sub-item-bg-3 {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.subs-title {
  color: white;
  text-transform: uppercase;
}

.sub-description {
  font-weight: 12.8px;
}

.sub-button {
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  color: white;
}

.sub-button:hover {
  background-color: #cacaca;
  opacity: 50%;
}

.pricing-value {
  line-height: 1em;
  padding-top: 120px;
  padding-bottom: 40px;
  margin: 0;
  font-size: 64px;
}

.prise-up {
  font-size: 32px;
}

.sub-section-note {
  margin: 0;
}

@media (max-width: 770px) {
  .subscription {
    width: 100%;
    max-width: 770px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0;
  }
  .sub-title {
    margin: 0;
    padding-bottom: 46px;
  }
  .subscription-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
  .sub-description {
    margin: 0;
    padding-top: 64px;
    padding-bottom: 87px;
  }
  .subs-title {
    font-size: 16px;
    margin-bottom: 0;
  }
  .sub-price {
    padding-top: 203px;
  }
  .sub-button {
    margin-bottom: 0;
  }
}

.news {
  padding-top: 100px;
  margin-right: 120px;
  margin-left: 120px;
}

.news-header {
  text-align: center;
}

.news-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 575px 575px;
      grid-template-columns: 575px 575px;
  grid-column-gap: 50px;
}

.news-item-bottom {
  padding-top: 65px;
}

.news-item-header {
  font-weight: 30px;
  line-height: 45px;
  font-weight: normal;
  color: white;
  margin-top: 0;
}

.news-btn {
  padding: 16px 30px;
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
  color: white;
}

.news-btn:hover {
  background-color: #cacaca;
  opacity: 50%;
}

.news-links {
  font-size: 12.8px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 19px 67px 69px;
      grid-template-columns: 19px 67px 69px;
  grid-column-gap: 16px;
}

.news-icon {
  width: 19px;
  height: 19px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.news-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #F89202;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 770px) {
  .news {
    width: 100%;
    max-width: 770px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0;
  }
  .news-header {
    margin: 0;
    padding-bottom: 48px;
  }
  .news-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news_image {
    width: 374px;
    height: 186px;
  }
  .news-item-header {
    font-size: 16px;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 16px;
  }
  .news-about {
    margin: 0;
    padding-bottom: 24px;
  }
  .news-btn {
    margin-top: 48px;
  }
  .news-item-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.mobile-app {
  padding-top: 100px;
  margin-right: 243px;
  margin-bottom: 100px;
  margin-left: 120px;
}

.mobile-app-title {
  text-align: center;
}

.mobile-app-image {
  width: 333px;
  height: 278px;
}

.mobile-app-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 600px 333px;
      grid-template-columns: 600px 333px;
  grid-column-gap: 144px;
}

.mobile-app-button {
  background-color: #95390C;
  border: none;
  border-radius: 32px;
  padding: 16px 40px;
  font-weight: 12.8px;
  color: white;
  cursor: pointer;
}

.mobile-app-button:hover {
  background-color: #F89202;
  opacity: 1;
}

@media (max-width: 770px) {
  .mobile-app {
    width: 100%;
    max-width: 770px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0;
  }
  .mobile-app-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .mob-app-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-app {
    margin: 0;
    padding-bottom: 48px;
  }
  .mobile-app-image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .mobile-about {
    margin-bottom: 0;
  }
  .mobile-app-button {
    margin-bottom: 80px;
    width: 131px;
  }
}

.main-footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  max-width: 1440px;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (270px)[4];
      grid-template-columns: repeat(4, 270px);
  grid-column-gap: 40px;
  margin-right: 120px;
  margin-bottom: 72px;
  margin-left: 120px;
}

.footer-item {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.link-title {
  font-weight: 18px;
  line-height: 27px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-link {
  text-decoration: none;
  color: #E0E0E0;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.footer-navigation-line {
  border-top: 1px solid #CACACA;
  margin-bottom: 40px;
}

.footer-navigation-links {
  margin-top: 40px;
}

.footer-link-bottom {
  padding-right: 16px;
  margin-top: 40px;
}

.footer-link-bottom:first-child {
  padding-left: 120px;
}

.footer-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-img-marg {
  margin-right: 24px;
}

@media (max-width: 770px) {
  .main-footer {
    width: 100%;
    max-width: 770px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0;
  }
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .footer-navigation-line {
    display: flex;
    flex-direction: column;
}
}
/*# sourceMappingURL=app.css.map */